<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/catalog.css">
</head>

<body>
    <%- include('header.ejs'); %>
        <main>
            <aside>
                <div class="sortby-div">
                    <p>Критерий сортировки:</p>
                    <select name="criteria" id="criteria">
                        <option value="price">цена</option>
                        <option value="userQuantity">количество участников</option>
                    </select>
                </div>
                <div class="sort-how">
                    <p>Сортировать по:</p>
                    <select name="sortby" id="sortby">
                        <option value="desc">убыванию</option>
                        <option value="asc">возрастанию</option>
                    </select>
                </div>
                <button id="apply-sort" onclick="getSortOptions()">Apply</button>
                <hr/>
                <div class="cart">
                    <h4>Cart</h4>
                   
                </div>
            </aside>
            <section>
                    <% if (products.length !== 0) { %>
                    <% products.forEach(function(product){ %>
                        <%- include('productCard.ejs', {product}); %>
                            <% }); %>

                    <% } else { %>
                        <%- "NOTHING" %>
                        <% } %>
            </section>
        </main>
        <%- include('footer.ejs'); %>
</body>
<script src="../scripts/applySort.js"></script>
<script src="../scripts/addToCart.js"></script>
<script src="../scripts/saveSortPrefs.js"></script>
</html>