<html>
<link rel="stylesheet" href="../styles/header.css">
<header>
    <div class="logo-div">
        <a href="/">
            <img id="logo"
                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.2RqvZBPqi6zfQ3ONE0KyswHaG3%26pid%3DApi%26h%3D160&f=1&ipt=f7498d16076a0257953d41231395ab13e301de88d9f9d2704b6dacf0fafd455a&ipo=images"
                alt="logo" />
        </a>
    </div>
    <ul>
        <li>
            <a>
                <h3>Home</h3>
            </a>
        </li>
        <li>
            <a href="/catalog">
                <h3>Catalog</h3>
            </a>
        </li>
        <li>
            <a href="/cart">
                <h3>Cart</h3>
            </a>
        </li>
        <li>
            <a>
                <h3>About</h3>
            </a>
        </li>
        <li>
            <a>
                <h3>Profile</h3>
            </a>
        </li>
    </ul>
    <div class="search-div-abs">
        <div class="search-div-rel">
            <input id="search-inp" type="text" placeholder="Type your text here..." />
            <img id="search-icon"
                src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.onlinewebfonts.com%2Fsvg%2Fimg_89117.png&f=1&nofb=1&ipt=dcd7940b00aadaad86522d4db0649670b60a984bf6e90c4b8a3309a1ce8f3049&ipo=images"
                alt="magnifier">
        </div>
    </div>
</header>

</html>