html,
body {
  margin: 0;
  bottom: 0;
}

body {
  background-color: rgb(22, 22, 22);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(229, 229, 229);
}

h4 {
  font-size: rem;
}

main {
  margin-top: 15%;
  display: flex;
  height: 100%;
  width: 100%;
}

aside {
  padding: 1%;
  border-radius: 10px;
  background-color: rgb(31, 31, 31);
  height: 100%;
  width: 25%;
}

section {
  height: 100%;
  width: 75%;
}

select {
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  background-color: rgb(157, 157, 157);
  padding: 1%;
  height: 30px;
  margin: auto;
  margin-right: 1%;
}

select:focus {
  outline: none;
}

select:hover,
option:hover {
  cursor: pointer;
  animation-name: grow;
  animation-fill-mode: forwards;
  animation-duration: 0.1s;
}

@keyframes grow {
  to {
    scale: 1.01;
  }
}

.sortby-div,
.sort-how {
  display: flex;
  justify-content: space-between;
}

.sortby-div {
  margin-bottom: 2%;
}

#apply-sort {
  margin-left: 40%;
  width: 100px;
  height: 30px;
  background-color: rgb(115, 115, 115);
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1px;
  border-radius: 4px;
  border: none;
}

#apply-sort:hover {
  animation-name: card-buy-hover;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
}

hr {
  background-color: rgb(30, 92, 180);
}

/* card styles */

.product-card {
  position: relative;
  text-align: left;
  border-radius: 10px;
  background-color: rgb(56, 56, 56);
  display: flex;
  width: 90%;
  height: 250px;
  margin: auto;
  margin-bottom: 30px;
  padding: 1.5%;
}

.product-avatar {
  margin-left: 2%;
  height: 180px;
  width: 180px;
  border-radius: 1000px;
  margin: auto;
}

.product-info {
  padding: 2%;
  justify-content: start;
}

#product-name {
  margin: 0;
  text-align: left;
}

.product-desc {
  width: 90%;
  /* text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; */
}

#card-buy {
  background-color: rgb(115, 115, 115);
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1px;
  border-radius: 4px;
  border: none;
  position: absolute;
  right: 2%;
  bottom: 5%;
  width: 100px;
  height: 50px;
}

#card-buy:hover {
  cursor: pointer;
  animation-name: card-buy-hover;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
}

@keyframes card-buy-hover {
  to {
    scale: 1.02;
    background-color: rgb(22, 22, 22);
    color: rgb(30, 92, 180);
  }
}